<div class="container text-center m font-monospace text-bg-warning">
    <hr>
    <h1>
        Comunicate con Nosotros
    </h1>
    <hr>
</div>

<div class="container text-center m font-monospace">
<form action="/contacto" method="post">  
<form class="row g-3">  
  <div class="col-12">
    <label for="nombre" class="form-label">Nombre y Apellido</label>
    <input type="text" class="form-control text-bg-light" id="nombre" name="nombre" >
  </div>
  <div class="col-md-12">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control text-bg-light" id="email" name="email" required>
  </div>
  <div class="col-12">
    <br>
    <button type="submit" class="btn btn-warning">Enviar</button>
  </div>
</form>
</form>
</div>



