
<div class="container alert-warning">


  <section id="contenidos" class="container-fluid pt-1">


    <div class="container text-center m font-monospace text-bg-warning pt-5">
           
      <h3> Objetos funcionales hechos con amor 🌈 </h3>
      <h5> ♡ Deco hogar y niños </h5>
      <h5> ♡ Corte y grabado laser personalizado</h5>
      <h5> ♡ Ventas por mayor y menor</h5>
      <br>
      <br>
      <br>


    </div>
           
   </section>  
   </div>   
  
    
   