<div class="container text-center m font-monospace text-bg-warning">
    <hr>
    <h1>Nuestros Productos</h1>
    <hr>

</div>
<section id="contenidos" class="container-fluid pt-1">
    <div class="container font-monospace">
        <div class="row">
            <div class="col-md-4">
                <article>
                    <figure>
                        <img class="img-fluid" src="./img/cajaluz3.jpg" alt="Caja de Luz">
                    </figure>
                    <div class="textos">
                        <h2>Caja de Luz</h2>
                        <p>La caja de luz es todo un mundo de posibilidades y está pensada desde la estimulación
                            sensorial en bebés, hasta el desarrollo y aprendizaje de los peques menores de 12 años.
                            En casa o en el cole, la caja de luz será un recurso básico que no puede faltar y que pasará
                            de generación en generación. Aquí podrás
                            elegir entre los diferentes modelos de cajas de luz; tamaños, precios y modelos.
                        <h5>Medidas:</h5>
                        <li>Individual: 40x35x9 cm</li>
                        <li>$2500</li>
                        <button type="button" class="btn btn-sm btn-outline-warning"  ><a class="apedido" href="/comocomprar">Lo Quiero</a> </button>
                        <br>
                        <br>
                        <br>
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article>
                    <figure>
                        <img class="img-fluid" src="/img/banquito.jpg" alt="Banquito">
                    </figure>
                    <div class="textos">
                        <h2>Banquito</h2>
                        <p>Es una silla cuadrada con el asiento muy bajo adaptandose al cuerpo del peque impidiendo que
                            se caiga.
                            La silla está diseñada para fomentar la autonomía del bebé desde edades muy tempranas. Al
                            principio la
                            utilizará como apoyo ya que al ser una silla pesada, no hay peligro de volcarse.
                            Posteriormente si dejamos al bebé
                            libertad de movimiento poco a poco aprenderá a subirse y bajarse sólo de ella.
                            Es una silla muy practica y útil hasta los 3 o 4 años, e irá en función de la estatura del
                            niño, aunque tambien
                            puede utilizarse como mesa.</p>
                        <li>Medidas exteriores 35x40cm</li>
                        <li>Altura de la base 15/20cm</li>
                        <li>$2000</li>
                        <button type="button" class="btn btn-sm btn-outline-warning"  ><a class="apedido" href="/comocomprar">Lo Quiero</a> </button>
                        <br>
                        <br>
                        <br>
                        <br>

                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article>
                    <figure>
                        <img class="img-fluid" src="/img/cajon juguetero.jpg" alt="Carrito Juguetero">
                    </figure>
                    <div class="textos">
                        <h2>Carrito Juguetero</h2>
                        <p> El carro de madera es excelente
                            para guardar juguetes, puede ir con un piolin o no y lo pueden llevar por toda la casa.
                            Practico para tener ordenados los juguetes de los mas pequeños y sacarlos a pasear.</p>
                        <h5>Medidas:</h5>
                        <li>Universal 44x34x33</li>
                        <li>Interior 38x29x26</li>
                        <li>Medidas Soga: 50cm</li>
                        <li>$5850</li>
                        <button type="button" class="btn btn-sm btn-outline-warning"  ><a class="apedido" href="/comocomprar">Lo Quiero</a> </button>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                </article>
            </div>
        
        
    

        
        

       